<!DOCTYPE html>
<html>
    <head>
        <style>
        .venue { font-style: italic; }
        </style>
    </head>
    <body>
        <ul>
            
            <li>
                <span class="authors">
                    Junyue Cao, Jonathan S Packer, Vijay Ramani, Darren A Cusanovich, Chau Huynh, Riza Daza, Xiaojie Qiu, Choli Lee, Scott N Furlan, Frank J Steemers, Andrew Adey, Robert H Waterston, Cole Trapnell, and Jay Shendure.
                </span>
                <span class="title">
                    
                    
                    Comprehensive single-cell transcriptional profiling of a multicellular organism..
                    
                </span>
                <span class="venuetype"></span><span class="venue">Science 357(6352)</span>,
                <span class="date">
                    August
                    2017.
                </span>

                <span class="links">
                
                </span>
            </li>

            
            <li>
                <span class="authors">
                    Vijay Ramani, Xinxian Deng, Ruolan Qiu, Kevin L Gunderson, Frank J Steemers, Christine M Disteche, William S Noble, Zhijun Duan, and Jay Shendure.
                </span>
                <span class="title">
                    
                    
                    Massively multiplex single-cell Hi-C..
                    
                </span>
                <span class="venuetype"></span><span class="venue">Nature Methods 14(3)</span>,
                <span class="date">
                    March
                    2017.
                </span>

                <span class="links">
                
                </span>
            </li>

            
            <li>
                <span class="authors">
                    Vijay Ramani, Darren A Cusanovich, Ronald J Hause, Wenxiu Ma, Ruolan Qiu, Xinxian Deng, C Anthony Blau, Christine M Disteche, William S Noble, Jay Shendure, and Zhijun Duan.
                </span>
                <span class="title">
                    
                    
                    Mapping 3D genome architecture through in situ DNase Hi-C..
                    
                </span>
                <span class="venuetype"></span><span class="venue">Nature protocols 11(11)</span>,
                <span class="date">
                    November
                    2016.
                </span>

                <span class="links">
                
                </span>
            </li>

            
            <li>
                <span class="authors">
                    Vijay Ramani, Jay Shendure, and Zhijun Duan.
                </span>
                <span class="title">
                    
                    
                    Understanding Spatial Genome Organization: Methods and Insights..
                    
                </span>
                <span class="venuetype"></span><span class="venue">Genomics, proteomics {\&} bioinformatics 14(1)</span>,
                <span class="date">
                    February
                    2016.
                </span>

                <span class="links">
                
                </span>
            </li>

            
            <li>
                <span class="authors">
                    Vijay Ramani, Ruolan Qiu, and Jay Shendure.
                </span>
                <span class="title">
                    
                    
                    High-throughput determination of RNA structure by proximity ligation..
                    
                </span>
                <span class="venuetype"></span><span class="venue">Nature Biotechnology 33(9)</span>,
                <span class="date">
                    August
                    2015.
                </span>

                <span class="links">
                
                </span>
            </li>

            
        </ul>
    </body>
</html>
